{erl_opts, [debug_info]}.
{deps, [
    {ranch, {git, "https://github.com/ninenines/ranch",    {tag, "1.7.1"}}},
    {dnslib, {git, "https://github.com/lateio/dnslib",     {ref, "0.0.2"}}},
    {socketfd, {git, "https://github.com/lateio/socketfd", {tag, "0.0.0"}}}
]}.

{relx, [
    {release, {kurremkarmerruk, "0.0.0"}, [kurremkarmerruk]},
    {extended_start_script, true}
]}.
