{erl_opts, [debug_info]}.
{deps, [
    {dnslib, {git, "https://github.com/lateio/dnslib", {ref, "0.0.0"}}},
    {ranch, {git, "https://github.com/ninenines/ranch", {tag, "1.6.2"}}}
]}.

{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "make -C c_src"}
]}.
{post_hooks, [
    {"(linux|darwin|solaris)", clean, "make -C c_src clean"}
]}.


{relx, [
    {release, {kurremkarmerruk, "0.0.0"}, [kurremkarmerruk]},
    {extended_start_script, true}
]}.
